.terraform/
terraform.tfstate*
*.tfstate*
*.backup
*.log
.crash
.env
.envrc

*.tfvars.json
!envs/stage/terraform.tfvars
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.backup
crash.log
Week3.zip
Week3.zip
*.zip
secret.auto.tfvars

# Ignore all tfvars except Week6
*.tfvars
!Week6/envs/dev/dev.tfvars
!Week6/envs/prod/prod.tfvars
!Week6/envs/stage/stage.tfvars
!Week7/envs/dev/dev.tfvars
!Week7/envs/prod/prod.tfvars
!Week7/envs/stage/stage.tfvars
